* {
    margin: 0;
    padding: 0;
  }

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.join {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}
.create-btn{
    width: 100%;
    padding: 10px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header{
    padding: 40px;
    background: rgb(236, 236, 236);
    width:100%;
    text-align: center;
}
.footer{
    margin-top: 40px;
    background: #2c5c7b;
    width: 100%;
    text-align: center;
}
footer{
    padding: 20px;
}
/* .body2{
    padding: 30px;
    width: 100%;
    
    text-align: center;
} */
.message-box{
    margin-top: 10px;
    border: 2px solid black ;
    border-radius: 10px;
    background-color:rgb(236, 236, 236);
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}
.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}
.input{
    padding: 10px;
    display: flex;
}
h2{
    text-align: center;
}
#message{
    flex: 1;
}
.flex_message{
padding: 5px;
}
.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .muted {
    font-size: 10px;
    color: darkgray;
  }

/* Set background and text color */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    border-radius: 8px;
    margin-top: 50px;
    background-color: #2c5c7b;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Join form styling */
.join-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-form input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.join-form button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.join-form button:hover {
    background-color: #c0392b;
}

.error{
    background-color: black;
    border: 1px solid;
}
.foot p {
    color: #f4f4f4;
}

.LiveChat{
    width: 100%;
    background-color: #2c5c7b;
    text-align: center;
    color: #f4f4f4;
}
.LiveChat h1 {
    padding: 20px;
}