{% extends 'base.html' %}

{% block content %}

<form method="post" class="buttons">

        <header>
            <h1>Enter chat room</h1>
            <div class="join-form">
                <input type="text" placeholder="Username" name="name" value="{{name}}"/>
                <input type="text" placeholder="Room code" name="code" value="{{code}}"/>
                <button  type="submit" name="join">Join</button>
                <button type="submit" name="create" class="create-btn">Create Room</button>
                {% if error %}
                <ul>
                    <li class="error">{{error}}</li>
                </ul>
                {% endif %}
            </div>
        </header>

</form>


{% endblock %}